---
import Avatar from '@components/Avatar.astro'

import "./ThoughtAuthor.css"
---
<div class="thought-author-wrapper">
    <div class="logo">
        <Avatar />
    </div>
    <div class="name">• Saifeddine Rajhi •</div>
    <p class="thought-section-descr">
        Observations and interesting ideas about life, people relations, management, culture and work environment
    </p>
</div>