body {
    --expCatColor: var(--black);
    --expCatBackgroundColor: var(--white);
}

body.dark {
    --expCatColor: var(--white);
    --expCatBackgroundColor: var(--midnight);
}

.rockpaperscissor-wrapper {
    padding: 10px;
    max-width: 50rem;
    margin: 0 auto;
}

.experiment-view-page .lab-header{
    height: 30rem;
}

.experiment-view-page .experiment-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.experiment-view-page .experiment-category {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: var(--expCatBackgroundColor);
    border: 1px solid #dcdfe6;
    color: var(--expCatColor);
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}