html {
    --pokeballBgColor: var(--white);
    --pokeBadgeBgColor: var(--grey);
}

html.dark {
    --pokeballBgColor: var(--grey);
    --pokeBadgeBgColor: var(--blackLigher);
}

.pokemon {
    padding: 10px;
}

.pokemon.loading {
    padding: 1rem;
}

.pokemon img {
    width: 200px;
    height: 200px;
}

.pokemon .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon .info .name {
    text-transform: capitalize;
    display: block;
    position: relative;
    margin-bottom: 5px;
}

.pokemon .info .statuses {
    margin-bottom: 1rem;
}

.pokemon .info .statuses span {
    background-color: var(--pokeBadgeBgColor);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: monospace;
    margin-left: 5px;
}

.pokemon .info .description {
    max-width: 500px;
    padding: 10px
}

.pokemon .info .description:first-letter {
    text-transform: uppercase;
}

.pokemon .info .name .generation {
    position: absolute;
    font-size: 0.8rem;
    padding-left: 5px;
    top: -5px;
    right: -1.1rem;
}

.pokemon .pokeball {
    margin-top: 2rem;
    background-color: var(--pokeballBgColor);
    border: 5px solid var(--bodyTextColor);
    border-radius: 50%;
    display: inline-flex;
}

.pokemon .pokeinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pokemon .specie ul,
.pokemon .abilities ul,
.pokemon .stats ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

.pokemon .specie ul li,
.pokemon .stats ul li {
    display: grid;
    grid-template-areas: "key value";
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}

.pokemon .specie ul li {
    grid-template-columns: 1fr 2fr;
}

.pokemon .specie ul .key,
.pokemon .stats ul .key {
    grid-area: key;
}

.pokemon .stats ul .name.hp {
    text-transform: uppercase;
}

.pokemon .specie ul .value,
.pokemon .stats ul .value {
    grid-area: value;
    text-transform: capitalize;
    text-align: right;
}

.pokemon .abilities .name,
.pokemon .stats .name,
.pokemon .stats .type {
    text-transform: capitalize;
}

@media (max-width: 600px) {
    .pokemon .pokeinfo {
        flex-flow: column
    }

    .pokemon .stats ul li {
        grid-template-columns: 2fr 2fr;
    }

    .pokemon .abilities li {
        margin-bottom: 1rem;
        cursor: pointer;
    }

    .pokemon .stats,
    .pokemon .abilities,
    .pokemon .specie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
