.social .social-list {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social .social-list a span {
    display: none;
}

.social .social-list svg {
    height: 1em;
}