/**
** Thought View Page
**/

body {
    --thoughtHeaderColor: var(--red);
    --thoughtTagColor: gray;
    --imageTitleColor: gray;
}

body.dark {
    --thoughtHeaderColor: var(--pink);
    --thoughtTagColor: var(--grey);
    --imageTitleColor: #8b949e;
}

.thought-view-page .thought-header {
    margin: 1rem 0;
}

.thought-view-page .view-page-header-wrapper .logo {
    width: 90px;
    height: 90px;
}

.thought-view-page .view-page-header-wrapper .logo-img {
    width: 5rem;
}

.thought-view-page .view-page-header-wrapper .name {
    font-size: 1.5rem;
}

.thought-view-page .view-page-header-wrapper .blog-title {
    font-size: 3rem;
    padding-left: 1rem;
}

@media (max-width: 575px) {
    .thought-view-page .view-page-header-wrapper .blog-title {
        font-size: 2rem;
    }
}

.thought-wrapper,
.thought-view-page .thought-sidebar {
    margin-left: auto;
    margin-right: auto;
    max-width: 43rem;
}

@media (max-width: 767px) {
    .thought-wrapper {
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
        width: auto;
    }
}

.thought-view-page .thoughts-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.thought-view-page .thought-divider {
    clear: both;
}

.thought-view-page .thought-content {
    margin-top: 2rem;
}

.thought-view-page .thought-author-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.thought-view-page .thought-navigation-wrapper {
    margin-bottom: 2rem;
}

.thought-view-page hr {
    border: none;
    margin-bottom: 2rem;
    text-align: center;
}

.thought-view-page hr::before {
    letter-spacing: 0.6em;
    text-indent: 0.6em;
    content: "***";
}

ul.thought-tags {
    display: flex;
    font-size: 0.9rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    text-align: center;
}

ul.thought-tags li {
    border: 1px solid var(--thoughtTagColor);
    border-radius: 4px;
    color: var(--thoughtTagColor);
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.thought-wrapper h1 {
    color: var(--thoughtHeaderColor);
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

@media (max-width: 575px) {
    .thought-wrapper h1 {
        font-size: 2rem;
        line-height: 3rem;
    }
}

.thought-wrapper .thought-details {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.thought-wrapper .thought-createdat {
    font-weight: normal;
}

.thought-wrapper .theme-switcher {
    float: right;
    margin-left: 1rem;
    margin-top: 0;
}

.thought-wrapper .cover {
    margin: 0;
}

.thought-wrapper .cover .cover-filter {
    left: 50%;
    margin-left: -50vw;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.thought-wrapper .cover .cover-image {
    left: 50%;
    margin-left: -50vw;
    overflow: hidden;
    position: relative;
    max-height: 600px;
    width: 100vw;
}

.thought-wrapper .cover .image-title {
    color: var(--imageTitleColor);
    font-size: 1rem;
    margin: 0.5rem;
    text-align: center;
}

.thought-wrapper .cover .image-title a {
    color: var(--imageTitleColor);
    font-size: 1rem;
    text-decoration: underline;
}
