/** Theme variables **/

body {
    --thoughtTeaserHeaderLinkColor: var(--red);
    --thoughtNewBadgeBgColor: var(--red);
}

body.dark {
    --thoughtTeaserHeaderLinkColor: var(--pink);
    --thoughtReadBadgeBgColor: var(--grey)
    
}


/** Thought Item Styles **/

.thought-item {
    list-style: none;
    margin-bottom: 2rem;
}

.thought-item h2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 0;
}

.thought-item h2 a {
    color: var(--thoughtTeaserHeaderLinkColor);
}

.thought-item p.thought-digest {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 1.2rem;
    margin-top: 0.5rem;
}

.thought-item .thought-details {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.thought-createdat {
    font-weight: 600;
    text-transform: uppercase;
}

.thought-item .thought-details .unread-badge {
    color: var(--thoughtNewBadgeColor);
    font-weight: bold;
    font-family: monospace;
    padding: 5px;
    background-color: var(--thoughtReadBadgeBgColor);
    border-radius: 5px;
}

.thought-item .article-header .new-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--thoughtNewBadgeBgColor);
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: var(--thoughtNewBadgeColor);
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center
}
