/** Theme variables **/

html {
    --bodyBackgroundColor: var(--white);
    --bodyTextColor: var(--black);
    --linkColor: var(--black);
    --linkHoverColor: var(--red);
    --thoughtCoverBlendColor: var(--brownDarker);
    --thoughtCoverBlendMode: lighten;
}

html.dark {
    --bodyBackgroundColor: var(--midnight);
    --bodyTextColor: var(--white);
    --linkColor: var(--white);
    --linkHoverColor: var(--pink);
}


/** General Styles **/

@font-face {
    font-family: 'Ledger';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--bodyTextColor);
    background-color: var(--bodyBackgroundColor);
    box-sizing: border-box;
    font-family: 'Ledger', serif;
    margin: 0;
    text-rendering: optimizeLegibility;
    transition: color 0.2s ease-out, background 0.2s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--linkColor);
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    color: var(--linkHoverColor);
}

.clearfix {
    clear: both;
}

.cover-filter {
    background-color: var(--thoughtCoverBlendColor);
}

.cover-filter .cover {
    mix-blend-mode: var(--thoughtCoverBlendMode);
    user-select: none;
}

html.dark .cover-filter {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}