html {
    --indicatorBgColor: var(--red);
}

html.dark {
    --indicatorBgColor: var(--pink);
}

.reading-indicator {
    background: var(--indicatorBgColor);
    height: 5px;
    width: 0%;
    position: fixed;
    top: 0;
    z-index: 1;
}